.cover__link {
    width: 100%;
    min-height: 740px;
    background-image: url(../../../images/cover/__background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.cover__link::before {
    background-color: #2A2C2F;
    opacity: .3;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.cover__link:hover::before {
    opacity: .8;
    cursor: pointer;
}


@media screen and (max-width: 1024px) {
    .cover__link {
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__link {
        min-height: 480px;
    }
}

@media screen and (max-width: 425px) {
    .cover__link {
        min-height: 200px;
        gap: 16px;
    }
}